.fd_01{
	width: 1320px;
	height: 195px;
	padding-left: 280px;
	background: #fbfbfb;
}
.fd_02{
	width: 1150px;
	height: 195px;
}
.fd_02 ul li{
	float: left;
	width: 172px;
	
}
.ulli_061{
	clear: both;
	list-style: initial;
	margin-top: 10px;
	font-size: 12px;
}
.ulli_062{
	font-size: 16px;
	color: #757373;
	font-weight: 900;
	line-height: 46px;
	border-bottom: solid 1px #f1f1f1;
}
.ulli_06{
	float: left;
}
.fd_02 ul li a{
	color: #757373;
}
.ulli_06:nth-child(n+2){
	margin-left: 10px;
}
