.mui-bar{
	background: #181818;
	height: 0.42rem;
}
.mui-title{
	color: #ffffff;
	font-size: .2rem;
}
.mui-icon-left-nav{
	color: #ffffff;
	font-size: .16rem;
}
.mui-segmented-control{
	border: .01rem solid #FFFFFF;
}
.mui-segmented-control .mui-control-item{
	color: black;
	font-size: .14rem;
	border-color:#FFFFFF;
}
.xian{
	width: 100%;
	height: .02rem;
	padding-top: .1rem;
	border: .02rem solid #EAEAEA;
}
.tp{
	width: 1.98rem;
	height: 2rem;
	margin: auto;
	padding-top: .5rem;
}
.tp img{
	width: 100%;
	height: 2rem;
}
.zi{
	width: 100%;
	height: 2rem;
}
.zizi{
	width: 2.5rem;
	height: .5rem;
	margin: auto;
	margin-top: 1rem;
}
.zi1{
	width: 1.98rem;
	height: .25rem;
    font-size: 18px;
    color: #9F9FA0;
    margin-bottom: 0rem;
    text-align: center;
}
.zi2{
	width: 1.98rem;
	height: .19rem;
    font-size: 14px;
    color: #9F9FA0;
    margin-bottom: 0rem;
    text-align: center;
}
/*------------头部------------------*/
.mui-bar-nav~.mui-content{
	padding-top: 0;
}
.tou01{
	height: 0.44rem;
}
.mui-bar-nav{
	background: #181818;
}
.mui-icon-back:before, .mui-icon-left-nav:before{
	color: #FFFFFF;
}
.mui-bar .mui-title{
	color: #FFFFFF;
}
.mspan01{
	line-height: 0.42rem;
	color: #FFFFFF;
	float: left;
	padding-top: 0.02rem;
}
.mspan02{
	float: right;
	padding-top: 0.19rem;
	box-sizing: border-box;
}
.dian{
	display: block;
	width: 0.05rem;
	height: 0.05rem;
	background: #FFFFFF;
	border-radius: 50%;
	float: right;
	margin-right: 0.03rem;
}
.mui-title{
	font-size: 20px;
}
