/*默认*/
.fl_left{float: left;}
.fl_right{float: right;}


/*头部*/
#topbar{list-style: none;padding: 15px 0px !important;box-sizing: border-box;}
.top_tk{ width: 100px; height: 100px;background: #333333;position: absolute;top: 30px;left:-15px;z-index: 999; line-height: 28px;padding:8px 22px;box-sizing: border-box;}
.top_tk a:hover{background: orangered}

/*导航*/
.sm_nav{width: 100%;height: 30px;margin-top: 25px;padding: 0px 400px; box-sizing: border-box;}
.nav01{width: 10%;height: 100%;color: white;text-align: center;line-height: 30px;}
.nav01 a{color: #a5a5a5;font-weight: bold;font-size: 18px;}
.nav01 a:hover{color: goldenrod;}
.sm_nav img{padding: 6px;box-sizing: border-box; }
.nospace li span{position: relative;top: 0 !important;}

/*详情*/
.content{width: 100%;padding:0 400px;box-sizing: border-box;float: left;margin-top: 20px;}
.content img{width: 100%;height: 100%;}


/*移动端*/
/*@media only screen and (min-width: 320px) and (max-width: 1400px){
	.sm_nav{padding: 0 0px;box-sizing: border-box;font-size: 12px;}
	.nav01 a{font-size: 12px !important;}
	.content{padding: 0 1px;box-sizing: border-box;}
	iframe{height: 178px !important;}
	.nav01{width: 15%;}
	.sm_nav img{padding: 0 !important;position: relative;top: 5px;}
}*/