body{
	background-color: white !important;
}
.topp01{
	float: left;
	font-size: .16rem;
	color: #2A2A2A;
}
.topp02{
	float: left;
	width: 100%;
	height: .5rem;
	box-sizing: border-box;
	padding-left: .05rem;
}
.topi01{
	float: left;
	width: .15rem;
	height: .2rem;
	margin-top: .1rem;
}
.tops01{
	float: left;
	margin-left: .1rem;
	font-size: .14rem;
	color: #2A2A2A;
	margin-top: .1rem;
}
.kong{
	margin-top: .1rem;
	float: left;
	width: 100%;
	height: .05rem;
	background: #E9E9E9;
	position: relative;
	top: -.08rem;
}
.mui-table-view-cell:after {
    left: 0 !important;
    height: 0 !important;
}
.img1{
	float: left;
	width: .2rem;
	height: .2rem;
}
.mui-table-view-cell {
    padding: 9px 15px !important;
   
}
.pp1{
	box-sizing: border-box;
	padding-left: .1rem;
}
.sz{
	float: left;
	font-size: .14;
	color: #2A2A2A;
	margin-left: .1rem;
	padding-top: .03rem;
}
.zhongtu{
	float: left;
	width: 100%;
	height: 2.5rem;
	border: .01rem solid #EAEAEA;
	margin-bottom: .1rem;
}
.ztu01{
	float: left;
	width: 100%;
	height: 1.25rem;
	box-sizing: border-box;
	padding-top: .1rem;
	padding-left: .1rem;
}
.zimg01{
	float: left;
	width: 1rem;
	height: 80%;
	margin-right: .08rem;
}
.sp1{
	float: right;
	font-size: .16rem;
	color: #2A2A2A;
}
.sp2{
	float: right;
	font-size: .14rem;
	color: #9B9B9B;
	text-decoration: line-through;
}
.mui-btn01{
	float: left;
	background: white !important;
	color: #8B8B8B !important;
	margin-right: .1rem;
	height: .35rem !important;
	position: relative;
	top: .02rem;
}
.bi01{
	width: .2rem;
	height: .2rem;
	margin-right: .1rem;
	position: relative;
	top: .06rem;
}
.mo1{
	float: left;
	width: 100%;
	height: .2rem;
	box-sizing: border-box;
	padding-left: .1rem;
	padding-right: .1rem;
	line-height: .2rem;
}
.mospan1{
	float: left;
	font-size: .14rem;
	color: #2A2A2A;
}
.mospan{
	float: right;
	font-size: .14rem;
	color: #2A2A2A;
}
.zhifu{
	float: left;
	width: 100%;
	height: 1rem;
	border-bottom: .01rem solid #E9E9E9;
	box-sizing: border-box;
	padding-left: .1rem;
	padding-right: .1rem;
}
.psp01{
	float: left;
	font-size: .14rem;
	color: #2A2A2A;
}
.psp02{
	float: right;
	font-size: .18rem;
	color: #D0021B;
}
.po{
	width: 100%;
	height: .2rem;
	float: left;
}
.psp03{
	font-size: .12rem;
	color: #676767;
	box-sizing: border-box;
	padding-left: .05rem;
}
.psp04{
	float: right;
	font-size: .14rem;
	color: #D0021B;
	box-sizing: border-box;
	padding-right: .07rem;
}
.pdiv{
	width: 100%;
	float: left;
	height: .5rem;
	box-sizing: border-box;
	padding-top: .1rem;
	padding-right: .1rem;
}
.divsp01{
	float: right;
	color: #D0021B;
	font-size: .18rem;
}
.divsp02{
	float: right;
	color: #2A2A2A;
	font-size: .16rem;
}
.divsp03{
	float: right;
	color: #676767;
	font-size: .12rem;
	margin-right: .15rem;
}
.di{
	float: left;
	width: 100%;
	height.5rem
}
.dileft{
	float: left;
	width: 65%;
	height: .48rem;
	background: #F6F6F6;
	line-height: .48rem;
	padding-right: .2rem;
	box-sizing: border-box;
}
 p{
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0 !important;
    color: #8f8f94;
}
.diright{
	float: left;
	width: 35%;
	height: .48rem;
	background: #D0021B;
	line-height: .48rem;
	text-align: center;
	color: white;
}
.yt{
	float: left;
	width:100%;
	height: .04rem;
	background: url(../images/yt.png)no-repeat;
}
/*------------头部------------------*/
.mui-bar-nav~.mui-content{
	padding-top: 0;
}
.tou01{
	height: 0.44rem;
}
.mui-bar-nav{
	background: #181818;
}
.mui-icon-back:before, .mui-icon-left-nav:before{
	color: #FFFFFF;
}
.mui-bar .mui-title{
	color: #FFFFFF;
}
.mspan01{
	line-height: 0.42rem;
	color: #FFFFFF;
	float: left;
	padding-top: 0.02rem;
}
.mspan02{
	float: right;
	padding-top: 0.19rem;
	box-sizing: border-box;
}
.dian{
	display: block;
	width: 0.05rem;
	height: 0.05rem;
	background: #FFFFFF;
	border-radius: 50%;
	float: right;
	margin-right: 0.03rem;
}
.mui-title{
	font-size: 20px;
}
