.food_01{
	width:100%;
	height: 70px;
}
.food_011{
	width: 632px;
	height: 70px;
	margin: 0 auto;
	padding-left: 300px;
}
.food_011 img{
	float: left;
}
.food_011 span{
	font-size: 10px;
	color: #a4a4a4;
}
