.my_div1{
	width: 100%;
	height: .5rem;
	padding-top: .05rem;
	background: white;
}
.my_label1 {
    padding-left:.35rem !important;
    width: 100% !important;
    height: .4rem;
    line-height: .5rem !important;
    padding-top:.07rem !important;
}
.my_img1{
	width: .2rem;
	height: .2rem;
	float: left;
}
.my_p1{
	width: 3rem;
	height: .2rem;
	line-height: .2rem;
	padding-left: .3rem;
    padding-top: .03rem;
    font-size: .14rem;
    color: #2A2A2A;
    display: block;
}
.my_div1_1{
	width: 100%;
    height: 0.4rem;
}
.my_span1{
	float: right;
	font-size: .25rem;
	color: #C7C7CC;
}
.my_img2{
	width: .7rem;
	height: .7rem;
}
.mui-input-row label{
	padding: .1rem 0;
}
.my_input2{
	top:.3rem !important;
	float: left;
}
.mui-checkbox.mui-left input[type=checkbox]{
	left: 0;
}
.mui-checkbox.mui-left label{
	padding-left: .35rem !important;
	height: 1rem;
}
.mui-table-view{
	width: 100%;
    height: 1rem;
}
.mui-table-view-cell{
	padding: 0;
}
.my_p2{
	float: right;
    width: 77%;
    height: 0.7rem;
}
.my_p5{
	font-size:.14rem ;
	color: #2A2A2A;
}
.my_p3{
	padding-top: .05rem;
	color: #8B8B8B;
	font-size: .14rem;
}
.my_p4{
	padding-top: .05rem;
	color: red;
	font-size: .18rem;
	width: 20%
	float: left;
}
.mui-table-view{
	width: 100%;
    height: 2.5rem;
    border-bottom: .01rem solid #E9E9E9;
}
.my_div2{
	width: 100%;
	height:1.5rem;
	background: white;
	border-top:1.1rem solid #E9E9E9 ;
}
.mui-table-view:after{
	height: 0;
}
.mui-table-view-cell{
	height: 1.2rem;
}
.my_div2_1{
	height: 1.2rem !important;
}
.mui-numbox{
	height:.3rem;
}
.my_div11{
	width: 100%;
	height: .5rem;
	padding-top: .05rem;
	background: white;
	border-top: .01rem solid #E9E9E9;
}
.my_li1{
	border-bottom: .01rem solid #E9E9E9;
}
.my_div111{
	width: 100%;
	height: .6rem;
	background: white;
	border-top: .01rem solid #E9E9E9;
	position: fixed;
	bottom: 0;
	
}
.my_div1_2{
	width: 100%;
    height: 0.6rem;
   
}
.my_input3{
	padding-top: .13rem !important;
}
.my_xiu1{
	float: right;
    width: 51%;
    height: 0.3rem;
    float: left;
    padding-left: .2rem;
    padding-top: .2rem;
}
.my_xiu2{
	width: 1.3rem;
	height: .59rem;
	background: red;
	float: right;
	line-height: .59rem;
	text-align: center;
	color: white;
	font-size: .16rem;
}
.my_label11{
	width: 100%;
	height: .5rem;
	background: white;
	border-top: .01rem solid #E9E9E9;
	padding-top: 0 !important;
	padding-right: 0 !important;
}
.mui-table-view{
	border-bottom: none;
}
.mui-checkbox.mui-left label{
	padding-right: 0;
}
