body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em,span {margin: 0;padding: 0;}
ul, ol, li{list-style: none;}
input, button{
    margin: 0;
    vertical-align: middle;
    outline: none;
}
i,em{font-style: normal;}
a{text-decoration: none;}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
img{vertical-align:top;}
*,
::before,
::after{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color:transparent;/*清除点击高亮效果*/
}
html{font-size:100px;}



/*@media screen and (min-width:320px){
	html{font-size:38.64px}
}
@media screen and (min-width:360px){
	html{font-size:43.47px}
}
@media screen and (min-width:375px){
	html{font-size:45.28px}
}
@media screen and (min-width:384px){
	html{font-size:46.37px;}
}
@media screen and (min-width:400px){
	html{font-size:48.30px;}
}
@media screen and (min-width:414px){
	html{font-size:50px}
}
@media screen and (min-width:424px){
	html{font-size:51.20px}
}
@media screen and (min-width:480px){
	html{font-size:57.97px}
}
@media screen and (min-width:540px){
	html{font-size:65.21px}
}
@media screen and (min-width:720px){
	html{font-size:86.95px}
}
@media screen and (min-width:750px){
	html{font-size:90.57px}
}
@media screen and (min-width:828px){
	html{font-size:100px}
}
@media screen and (min-width:1080px){
	html{font-size:130.43px}
}*/
