.cb_01{
	width: 100%;
	height: 800px;
	background: #f8f8f8;
}
.cb_02{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
	background: #FFFFFF;
}
.cb_021{
	width: 1140px;
	height: 800px;
	margin: 0 auto;
	background: #FFFFFF;
}
.cb_03{
	height: 85px;
	/*background: red;*/
}
.cb_03 p b{
	font-weight: normal;
	font-size: 18px;
}
.cb_03 p input{
	width: 56px;
	height: 22px;
	border-radius: 3px;
	border: 1px solid #cccccc;
	font-size: 12px;
	padding-left: 26px;
}
.cb_031{
	margin-left: 37px;
	background: url(../images/dsjsy/大数据切图/07大数据－数据研究院1200_44.jpg)no-repeat left;
}
.cb_032{
	margin-left: 8px;
	background: url(../images/dsjsy/大数据切图/07大数据－数据研究院1200_42.jpg)no-repeat left;
}
.cb_033{
	margin-left: 8px;
	background: url(../images/dsjsy/大数据切图/07大数据－数据研究院1200_46.jpg)no-repeat left;
}
.cb_03 p{
	padding-top: 38px;
}
.cb_04{
	height: 505px;
	/*background: #10B4D0;*/
}
.cb_05{
	height: 118px;
	padding-left: 395px;
	padding-top: 40px;
	
	/*background: #003399;*/
}
.cb_051{
	width: 380px;
	height: 40px;
	border-radius: 3px;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	float: left;
	
}
.cb_052{
	width: 83px;
	height: 38px;
	float: left;
	border: 1px solid #10B4D0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.cb_053{
	height: 38px;
	width: 88px;
	float: left;
	border: 1px solid #10B4D0;
	border-left: none;
}
.cb_054{
	height: 38px;
	width: 86px;
	float: left;
	border: 1px solid #10B4D0;
	border-left: none;
}
.cb_055{
	height: 38px;
	width: 118px;
	float: left;
	border: 1px solid #10B4D0;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
ul{

}
#ulli_01 li:hover{
	background: #10B4D0;
	color: #FFFFFF;
}

