.weizhi_01{
	width: 100%;
	height: 710px;
	background: #fbfbfb;
}
.weizhi_02{
	width: 1200px;
	height: 709px;
	margin: 0 auto 0 327px;
	background: #FFFFFF;
}
.weizhi_03{
	width: 1170px;
	height: 80px;
	padding-left: 30px;
	/*background: blue;*/
	padding-top: 30px;
}

.weizhi_03 .img_02{
	position: relative;
	left: -13px;
}
.weizhi_03 .img_03{
	position: relative;
	left: -26px;
}
.weizhi_04{
	width: 1200px;
	height: 598px;
	
	/*background: bisque;*/
}
.weizhi_04 img{
	margin:0 28px;
}
.weizhi_05{
	width: 1200px;
	height: 110px;
	/*background: red;*/
}
.weizhi_05 p{
	margin-top: 30px;
}
.shouye_05{
	
	width: 265px;
	height: 52px;
	border: 1px solid #c49b0b;
	text-align: center;
	border-radius:30px;
	background: #c49b0b;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 18px;
	float: right;
	margin-right: 38px;
}
.shouye_06{
	
	width: 265px;
	height: 52px;
	border: 1px solid #dbac09;
	text-align: center;
	border-radius:30px;
	background: #dbac09;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 18px;
	float: right;
}