.swiper-slide img{
	width: 100%;
	height: 1.7rem;
}
.aui-grid{
	height: 1.77rem;
}
.aui-grid-label span{
	font-size: 0.12rem;
	
}
.aui-row .aui-col-xs-3{
	height: 0.93rem;
}
.aui-row{
	height: 1.77rem;
}
.lb{
	width: 100%;
	height:1.7rem;
}
.my_div01{
	width: 100%;
	height: 1.7rem;
	position: relative;
	/*background: url(../images/05img/mp01.png)no-repeat #FFFFFF 10%;
	background-size: 111%;*/
}
.my_div02{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: .4rem;
	background: rgba(255, 255, 255, 0.91) 40%;
	padding-right: .15rem;
	padding-left: .14rem;
	box-sizing: border-box;
}
.my_div03{
	width: 80%;
	float: left;
}
.my_div04{
	padding-top: 0.23rem;
	box-sizing: border-box;
	width: 20%;
	float: left;
}
.my_div03 p{
	padding-left: 0.16rem;
	box-sizing: border-box;
	text-align: left;
}
.my_div03 p:first-child{
	color: #FFFFFF;
	font-size: 0.16rem;
}
.my_div03 p:last-child{
	color: #8B8B8B;
	font-size: 0.14rem;
}
.my_div04 span img{
	width: .19rem;
	height: .18rem;
}
.my_div02 p{
	line-height: 0.4rem;
}
.my_div02 p img{
	/*box-sizing: border-box;*/
	margin-top: 0.06rem;
	float: right;
	width: .25rem;
	height: .25rem;
}
.my_div02 p span:nth-child(1){
	color: #2A2A2A;
	float: left;
}
.my_div02 p span:nth-child(4){
	font-size: .18rem;
	color: #D0021B;
	float: right;
}
.my_div02 p span:nth-child(3){
	float: right;
	margin-right: .27rem;
}
.lb1{
	margin-top: 0.1rem;
}

/*------------头部------------------*/
.mui-bar-nav~.mui-content{
	padding-top: 0;
}
.tou01{
	height: 0.44rem;
}
.mui-bar-nav{
	background: #181818;
}
.mui-icon-back:before, .mui-icon-left-nav:before{
	color: #FFFFFF;
}
.mui-bar .mui-title{
	color: #FFFFFF;
}
.mspan01{
	line-height: 0.42rem;
	color: #FFFFFF;
	float: left;
	padding-top: 0.02rem;
}
.mspan02{
	float: right;
	padding-top: 0.19rem;
	box-sizing: border-box;
}
.dian{
	display: block;
	width: 0.05rem;
	height: 0.05rem;
	background: #FFFFFF;
	border-radius: 50%;
	float: right;
	margin-right: 0.03rem;
}
.mui-title{
	font-size: 20px;
}
